@{
  Layout = "_Layout";
}

@using Library.Models;
<div class = "container">
<h1>Selected Book: </h1>
<h2>Title: @Model["selectedBook"].GetTitle()</h2>
<h2>Author: @Model["selectedBook"].GetAuthor()</h2>
<h2>Copies: @Model["selectedBook"].GetCopies()</h2>
<h2>Genre: @Model["selectedBook"].GetDescription()</h2>


<hr />
@if (@Model["authorBooks"].Count != 0)
{
  <h4>Following authors cowrote this book:</h4>
  <ul>
    @foreach (Author author in @Model["authorBooks"])
    {
      <li>@author.GetName()</li>
    }
  </ul>
}
